.cards-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  background-color: rgb(228, 228, 228);
  justify-content: center;
  padding:30px;
  min-height: 100vh;
}
