.cards-container{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: rgb(170, 170, 170);
    min-height: 100vh;
}