.containerNavbar {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 2%;
    justify-content: space-between;
}

.categories {
display: flex;
justify-content: space-between;
align-items: center;
gap: 20px;
text-transform: uppercase;}